body {
    font-family: Arial, sans-serif;
    background-color: #eefdf9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.content {
    width: 50%;
    margin: 20px auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #74e9cc;
    color: rgb(5, 5, 5);
}

tr:nth-child(odd) {
    background-color: #f3f3f3;
}
